<div id="app">

  The current temperature is {{ currentTemp }} (°F) in {{ location }} <br/>
  <!-- Add a new location:  -->

  <!-- <input type='text' name='inputlocation'> -->

  <button v-on:click="updateForecasts()" class="btn">Add Location</button>

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <h3>Forecast Data</h3>

  <div class="forecast-table">
    <table>
      <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Time</th>
      </tr>
        
      <tr v-for="data in apiData">
        <td>{{data.location}}</td>
        <td>{{data.temp}}°F</td>
        <td>{{data.time}}</td>
      </tr>
        
    </table>
  </div>


</div>