<div id="app">

  The current temperature is {{ currentTemp }} (°F) in {{ location }} <br/>
  <!-- Add a new location:  -->

  <!-- <input type='text' name='inputlocation'> -->

  <!-- <button v-on:click="addLocation()" class="btn">Add Location</button> -->

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  <h3>Forecast Data</h3>

  <div class="forecast-table">
    <table>
      <tr>
        <th>Location</th>
        <th>Temperature</th>
        <th>Time</th>
      </tr>
        <tr>
          <td>{{location}} </td>
          <td>{{currentTemp}}°F </td>
          <td>{{currentTime}} </td>
        </tr>
        <% @forecasts.each do |forecast| %>
          <tr>
            <td><%= forecast.location %></td>
            <td><%= forecast.temp %>°F</td>
            <td><%= forecast.created_at %></td>
          </tr>
        <% end %>
    </table>
  </div>


</div>